html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    /* We don't need overflow-x-hidden here as GSAP pin handles it well, but tailwind already adds it. */
}

/* Background for the dark void behind newspaper */
#pin-container {
    background: radial-gradient(circle at center, #111, #000);
}

/* Newspaper specific styling */
#newspaper {
    background-color: #f3ece0;
    background-image: 
        linear-gradient(90deg, transparent 50%, rgba(255,255,255,.5) 50%),
        linear-gradient(transparent 50%, rgba(255,255,255,.5) 50%);
    background-size: 4px 4px;
    transform-origin: center center;
    will-change: transform, opacity;
}

#content-overlay.active {
    pointer-events: auto;
}
